  
  #video-placeholder {
      display: block;
      margin: 0 auto;
  }
  
  
  #countdown {
    align-items: center;
    font-family: -apple-system, 
      BlinkMacSystemFont, 
      "Segoe UI", 
      Roboto, 
      Oxygen-Sans, 
      Ubuntu, 
      Cantarell, 
      "Helvetica Neue", 
      sans-serif;
    color: #333;
    margin: 0 auto;
    text-align: center;
  }

  .sit {
    color: #d9534f !important;
  }

  .up {
    color: #5cb85c !important;
  }

#timer-text {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
  }
  
  li.timer {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }
  
  li.timer span {
    display: block;
    font-size: 4.5rem;
  }

  
  
  @media all and (max-width: 768px) {
    #timer-text {
      font-size: 1.5rem;
    }
    
    li.timer {
      font-size: 1.125rem;
      padding: .75rem;
    }
    
    li.timer span {
      font-size: 3.375rem;
    }
  }