<!DOCTYPE html>
<html lang="en"><head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  
    <title>SB Admin 2 - Register</title>
  
    <!-- Custom fonts for this template-->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  
    <!-- Custom styles for this template-->
    <link href="{{ url_for('static', filename='sb-admin-2.min.css') }}" rel="stylesheet">
  
  </head>
  
  <body class="bg-gradient-primary">
  
    <div class="container">
  
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
            <div class="col-lg-7">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                </div>
                <form method="post" class="user">
                  
                  <div class="form-group">
                    <label for="username">Username</label>
                    <input name="username" class="form-control form-control-user" id="username" type="username" placeholder="Username">
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <label for="password">Password</label>
                      <input type="password" class="form-control form-control-user" name="password" id="password" placeholder="Password">
                    </div>
                  </div>

                  <input href="{{ url_for('auth.login') }}" class="btn btn-primary btn-user btn-block" type="submit" value="Register">
                </input>
                  <hr>
                  
                  
                </form>
                <hr>
                <div class="text-center">
                  <a class="small" href="{{ url_for('auth.login') }}">Already have an account? Login!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  
 <!-- Bootstrap core JavaScript-->
 <script src="/static/vendor/jquery/jquery.min.js"></script>
 <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

 <!-- Core plugin JavaScript-->
 <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

 <!-- Custom scripts for all pages-->
 <script src="/static/js/sb-admin-2.min.js"></script>
  
  
  
  
  </body>
  </html>