{% block header %}
  <h1>{% block title %}DB{% endblock %}</h1>
{% endblock %}

{% block content %}
  <h1>Contenu de la base de données</h1>

  <h2>Table : user</h2>
  <table style="width:100%">
    <tr>
      <th>id</th>
      <th>username</th>
      <th>password</th>
    </tr>
    {% for user in users %}
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.password }}</td>
    </tr>
    {% endfor %}
  </table>

  <h2>Table : device</h2>
  <table style="width:100%">
    <tr>
      <th>id</th>
      <th>author_id</th>
      <th>created</th>
      <th>currentSit</th>
      <th>lastUp</th>
    </tr>
    {% for device in devices %}
    <tr>
      <td>{{ device.id }}</td>
      <td>{{ device.author_id }}</td>
      <td>{{ device.created }}</td>
      <td>{{ device.currentSit }}</td>
      <td>{{ device.lastUp }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}